* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #435643;
    color: beige;
}

header {
    width: 100vw;
    height: 8rem;
    display: flex;
    position: relative;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; 
    background-color: #F4DDb4;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    box-shadow: 4px 4px 8px #3f3c36;
}

nav ul {
    display: flex;
    margin-right: 2rem;
    color: black;
}

li {
    list-style: none;
    margin: 0 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #755526;
}

h2 {
    margin: 2rem 0;
    position: relative; /* this is used to create correct linking of headings! */
}

/* 
h2 span {  this is used to create correct linking of headings!
    position: absolute;
    top: -8rem;
}
*/

a {
    color: black;
    text-decoration: none;
}

#psychology-section, #business-section {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

#psychology-section {
    background-color: #435643;
}

#business-section {
    background-color: #3B5882;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.book-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem .5rem;
    padding: 3rem 1.5rem;
    background-color: #755526;
    color: white;
    max-width: 350px;
    text-align: center;
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 4px 4px 8px #3f3c36;
}

.book-card p {
    margin-bottom: 2rem;
}

.book-content:first-child { /* highlighting the title */
    font-weight: bold;
    text-transform: uppercase;
}

.book-content:nth-child(5), .book-content:nth-child(6) { /* hiding the index number and function */
    display: none;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.read-btn {
    margin-top: 6rem;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px #3f3c36;
}

.add-book-btn {
    margin: 1rem 0;
    padding: .5rem 1rem;
    background-color: #755526;
    color: beige;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 4px 4px 8px #3f3c36;
    cursor: pointer;
}


#psych-form-section, #business-form-section {
    display: none;
    margin: 3rem 0;
    flex-direction: column;
    align-items: center;
}

input, select {
    padding: .5rem .25rem;
    height: 2rem;
    max-width: 400px;
    margin-bottom: .5rem;
    border-radius: .25rem;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 2px solid greenyellow;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px lightgray;
}

label {
    text-transform: uppercase;
    padding-bottom: .25rem;
    font-size: .8rem;
}

form h3 {
    margin-bottom: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}


input[type="submit"] {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    background-color: #755526;
    color: beige;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px #3f3c36;
    cursor: pointer;
    font-weight: bold;
}

footer {
    padding: 1rem;
    background-color: #a39989;
    width: 100vw;
    display: flex;
    justify-content: center;
}